.filters {
    padding: 20px;
    border-radius: 20px;
    background-color: #f7f7f7;
}

.fieldBlock {
    margin-bottom: 24px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #6c717b;
}

.inputWrap {
    position: relative;
    width: 312px;
}

.input {
    width: 100%;
    height: 56px;

    padding: 18px 16px 18px 44px;
    /* 👈 ключевое */

    border: none;
    border-radius: 12px;
    background-color: #ffffff;

    font-size: 14px;
    color: #101828;

    outline: none;
}

.input::placeholder {
    color: #6c717b;
}

.inputIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    fill: #6c717b;
    pointer-events: none;
}

.inputIcon use {
    fill: #101828;
}

.title {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #101828;
}

.group {
    margin-bottom: 24px;
}

.groupTitle {
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: #6c717b;
}

.option {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #101828;
    cursor: pointer;
}

.radioInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radioMark {
    width: 20px;
    height: 20px;
    border: 1.5px solid #101828;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    background-color: transparent;
}

.radioInput:checked+.radioMark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #475467;
    transform: translate(-50%, -50%);
}

.searchButton {
    width: 312px;
    height: 56px;
    margin-top: 8px;
    border: none;
    border-radius: 999px;
    background-color: #8fa79b;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
.searchButton:hover {
    background-color: #6D7B75;
}

.clearButton {
    width: 312px;
    height: 56px;
    margin-top: 12px;
    border: 1px solid #dadde1;
    border-radius: 999px;
    background-color: #fff;
    color: #101828;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
.clearButton:hover {
    border-color: #6d7b75;
}