.header {
max-width: 1440px;
    margin: 0 auto;
    height: 72px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f2f4f7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 450px;
    padding: 0 64px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #101828;
}

.nav {
    display: flex;
    gap: 32px;
}

.link {
    font-size: 16px;
    color: #101828;
    transition: border-color 0.2s ease, color 0.2s ease;
}

.link:hover {
    color: #829b91;
}